<main class="main" data-controller="songs">
  <turbo-frame id="search-and-songs">
    <%= form_with url: songs_url, method: 'get', class: 'search-container row' do |f| %>
      <div class="form-group input-container--block">
        <%= f.text_field :song_title, class: 'input-block', placeholder: 'Search', value: params[:song_title] %>
      </div>
      <div class='row input-container--block'>
        <%= f.submit :search, class: 'submit-btn--half-block' %>
        <%= f.submit :clear, class: 'submit-btn--half-block' %>
      </div>
    <% end %>
    <div class='songs-container child-shadows child-shadows-hover'>
      <%= render SongComponent.with_collection(@songs) %>
    </div>
  </turbo-frame>
  <div class="controls-container padding-small">
    <div id="audio-container" data-songs-target="audioContainer">
      <audio data-controller="mediaplayer" controls src=""></audio>
    </div>
    <div>
      <button class="paper-btn btn-small" data-action="click->songs#prev">Prev</button>
      <button class="paper-btn btn-small" data-action="click->songs#next">Next</button>
    </div>
  </div>
</main>
