<main class="main">
  <h1>Songs</h1>
  <div class='container paper' data-controller='music'>
    <turbo-frame id="songs">
      <%= form_with url: songs_path, method: 'GET', 
          class: 'padding-small row background-primary' do |f| %>
        <%= f.text_field :song_title, placeholder: 'Song title', class: 'margin-right-small' %>
        <%= f.submit :search, class: 'margin-left-small paper-btn' %>
      <% end %>
      <%= button_to "Clear", songs_path, method: :get %>
      
      <ul class='songs-container background-primary'>
          <%= render SongComponent.with_collection(@songs) %>
      </ul>
    </turbo-frame>

    <%= render ControlComponent.new %>
  </div>
</main>
